{% load i18n %}
{% load custom_filters %}

<form class="user"
      method="POST"
      action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.non_field_errors | errors }}
    <div class="form-group">
        {{ form.username }}
        {{ form.username.errors | errors }}
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            {{ form.first_name }}
            {{ form.first_name.errors | errors }}
        </div>
        <div class="col-sm-6">
            {{ form.last_name }}
            {{ form.last_name.errors | errors }}
        </div>
    </div>
    <div class="form-group">
        {{ form.email }}
        {{ form.email.errors | errors }}
    </div>
    <div class="form-group">
        {{ form.password1 }}
        {{ form.password1.errors | errors }}
    </div>
    <div class="form-group">
        {{ form.password2 }}
        {{ form.password2.errors | errors }}
    </div>
    <input type="submit"
           class="btn btn-primary btn-user btn-block"
           value="Register Account">
    </input>
    <hr>
    {% include 'socialaccount/snippets/provider_list.html' with process='login' provider_message='Login with ' %}
    <hr>
    <div class="text-center">
        <a class="small"
           href="{% url 'account_login' %}">
           Already have an account? Login!</a>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}"
           value="{{ redirect_field_value }}" />
    {% endif %}
</form>