{% extends 'default.html' %}
{% block title %}
Articles
{% endblock title %}

{% block content %}
<h1>All articles ({{ articles | length }})</h1>
{% if articles %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Summary</th>
                <th scope="col">Pubilcation date</th>
                <th scope="col">Snippet</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.publication_date }}</td>
                <td>{{ article.article_text|truncatewords:20 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>no articles</h2>
{% endif %}
{% endblock content %}